absl-py==0.10.0
dm-acme==0.1.8
dm-env==1.2
dm-reverb==0.1.0
dm-sonnet
dm-tree==0.1.5
gym==0.17.2
tensorflow==2.3.0
d4rl @ git+git://github.com/rail-berkeley/d4rl@c39eefd68d2f3277ca68e996a45ce1dd24e65625
jax==0.2.11
jaxlib==0.1.64
